<div class="row mb-2 mb-xl-3 animated fadeIn faster">
  <div class="col-auto d-none d-sm-block">
    <h3>Añadir nuevo chofer</h3>
  </div>
  

  <div class="col-auto ml-auto text-right mt-n1">
  <app-breadcrum [items]="breadcrumbItems" [current]="currentPage"></app-breadcrum>
  </div>
  </div>

<!-- Alerts -->
<div 
class="alert alert-danger alert-dismissible" 
role="alert"
*ngIf="errorAlertBoot"
>
  <div class="alert-icon">
    <i class="far fa-fw fa-bell"></i>
  </div>
  <div class="alert-message">
<strong>Algo salio mal!!</strong> No se ha podido conectar con el servidor
  </div>
</div>
<!-- Alerts -->

<div class="row animated fadeIn faster">
  <div class="col-12">
    <div class="card">
      <!-- Stepper -->
      <div class="card-header">
        <div class="row justify-content-center mt-3 mb-2">
          <div class="col-10" style="display: none;">
            <nav class="nav btn-group">
              <button
                #generals
                routerLinkActive="active"
                href="#generales"
                class="btn btn-outline-primary active"
                data-bs-toggle="tab"
                >1. Datos generales y contacto</button
              >
              
              <button
              #licencia
              routerLinkActive="active"
                href="#licencias"
                class="btn btn-outline-primary"
                data-bs-toggle="tab"
                >2. Licencia y ruta</button
              >

            <button
            #revision
            href="#revision"
            [disabled]="driverForm.invalid"
            class="btn btn-outline-primary"
            data-bs-toggle="tab"
            >3. revision y envio</button
          >

            </nav>
          </div>
        </div>
      </div>
        <!-- Stepper -->

      <div class="card-body">
        <div class="row d-flex justify-content-center">
          <div class="col-12 col-md-9">
            <form 
            class=""
            autocomplete="off"
            [formGroup]="driverForm"
            (submit)="createDriver()"
            >
        
      <div class="tab-content">
          <div
            class="tab-pane fade show active"
            id="generales"
            role="tabpanel"
        >

        <h3 class="text-primary">Paso 1 (Datos generales)</h3>
        <p class="h4 text-muted mb-4">
          Introduce los datos basicos del chofer.
        </p>

        <div class="row">
          <div class="col-12">
            <label class="form-label" for="nombre">Nombre</label>
            <input
              type="text"
              id="nombre"
              class="form-control form-control-lg"
              placeholder="Introduce el nombre"
              [class.is-invalid]="nombreValidator"
              formControlName="nombre"
            />
            <small
            class="text-danger"
            *ngIf="nombreValidator && driverForm.get('nombre')?.errors?.['required']"
            >Este campo es obligatorio</small>
          </div>
  
          <div class="col-12 col-md-6 mt-3">
            <label class="form-label" for="paterno">Apellido paterno</label>
            <input
              placeholder="Introduce el apellido paterno"
              type="text"
              id="paterno"
              [class.is-invalid]="paternoValidator"
              class="form-control form-control-lg"
              formControlName="paterno"
            />
            <small
            class="text-danger"
            *ngIf="paternoValidator && driverForm.get('paterno')?.errors?.['required']"
            >Este campo es obligatorio</small>
          </div>
  
          <div class="col-12 col-md-6 mt-3">
          <label class="form-label " for="materno">Apellido materno</label>
            <input
              placeholder="Introduce el apellido materno"
              type="text"
              [class.is-invalid]="maternoValidator"
              id="materno"
              formControlName="materno"
              class="form-control form-control-lg"
            />
            <small
            class="text-danger"
            *ngIf="maternoValidator && driverForm.get('materno')?.errors?.['required']"
            >Este campo es obligatorio</small>
            
          </div>
        </div>
  
        <div class="row mt-3">
         <div class="col-md-6">
          <label for="edad" class="form-label" 
          >Edad</label>
          <input 
          min="1"
          max="80"
          mask="00"
          type="number" 
          id="edad"
          [class.is-invalid]="edadValidator"
          placeholder="Introduce la edad (1 - 99)"
          class="form-control form-control-lg"
          formControlName="edad"
          >
          <small
          class="text-danger"
          *ngIf="edadValidator && driverForm.get('edad')?.errors?.['required']"
          >Este campo es obligatorio</small>
         </div>
  
         <div class="col-md-6">
          <label for="sexo" class="form-label"
          >Sexo</label>
          <select 
          [class.is-invalid]="sexoValidator"
          id="sexo" 
          class="form-control form-control-lg "
          formControlName="sexo"
          >
           <option value="Masculino">Masculino</option>
           <option value="Femenino">Femenino</option>
          </select>
          <small
          class="text-danger"
          *ngIf="sexoValidator && driverForm.get('sexo')?.errors?.['required']"
          >Este campo es obligatorio</small>
         </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6">
            <label class="form-label" for="domicilio">Domicilo</label>
              <input
                type="text"
                class="form-control form-control-lg "
                id="domicilio"
                [class.is-invalid]="domicilioValidator"
                formControlName="domicilio"
                placeholder="Agustin lara 69-B"
              />
            <small
          class="text-danger"
          *ngIf="domicilioValidator && driverForm.get('domicilio')?.errors?.['required']"
          >Este campo es obligatorio</small>
          </div>

          <div class="col-md-6">
            <label class="form-label" for="telefono">Telefono</label>
              <input
                type="tel"
                class="form-control form-control-lg "
                id="telefono"
                [appendPrefixToModel]="true"
                prefix="+52 "
                mask="00 0000 0000"
                [dropSpecialCharacters]="false"
                [class.is-invalid]="telefonoValidator"
                formControlName="telefono"
                placeholder="#"
              />
             
            <small
            class="text-danger"
            *ngIf="telefonoValidator && driverForm.get('telefono')?.errors?.['required']"
            >Este campo es obligatorio</small>

            <small
            class="text-danger"
            *ngIf="telefonoValidator && driverForm.get('telefono')?.errors?.['minlength'] || driverForm.get('telefono')?.errors?.['maxlength']"
            >Numero no valido, ingrese 10 digitos</small>
          </div>
        </div>
  
        <hr class="mx-3 mt-4">

        <div class="d-flex justify-content-between align-items-center">
          <button disabled type="button" class="btn btn-light mt-1 py-2"
          >Anterior</button>

          <button 
          type="button" 
          class="btn btn-primary mt-1 py-2"
          (click)="licencia.click()"
          >Siguiente</button>
        </div>
      </div>
    </div>

    <div class="tab-content">
      <div
        class="tab-pane fade"
        id="licencias"
        role="tabpanel"
    >

    <h3 class="text-primary">Paso 2 (Licencia y ruta)</h3>
        <p class="h4 text-muted mb-4">
          Introduce la licencia del chofer y asignale una ruta.
        </p>

    <div class="row mt-3">
     <div class="col-md-6">
        <label for="licencia" class="form-label"
        >Licencia</label>
        <input 
        [class.is-invalid]="licenciaValidator"
        type="text"
        class="form-control form-control-lg"
        id="licencia"
        formControlName="licencia"
        placeholder="licencia"
        >
        <small
      class="text-danger"
      *ngIf="licenciaValidator && driverForm.get('licencia')?.errors?.['required']"
      >Este campo es obligatorio</small>
     </div>
    
     <div class="col-md-6">
      <label for="tipo_licencia" class="form-label"
      >Tipo de licencia</label>
      <input 
      [class.is-invalid]="tipo_licenciaValidator"
      type="text"
      class="form-control form-control-lg"
      id="tipo_licencia"
      formControlName="tipo_licencia"
      placeholder="Tipo de licencia"
      >
      <small
      class="text-danger"
      *ngIf="tipo_licenciaValidator && driverForm.get('tipo_licencia')?.errors?.['required']"
      >Este campo es obligatorio</small>
    </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-12">
        <label for="ruta" class="form-label"
        >Ruta (que se le asigna al chofer)</label>
         <select 
         formControlName="ruta"
          [class.is-invalid]="rutaValidator"
          class="form-select form-select-lg"
          id="ruta"
          placeholder="ruta"
         >
          <option 
          *ngFor="let ruta of rutas"
          value="{{ruta._id}}"
          > {{ruta.nombre}} </option>
         </select>
        <small
        class="text-danger"
        *ngIf="rutaValidator && driverForm.get('ruta')?.errors?.['required']"
        >Este campo es obligatorio</small>
      </div>
    </div>

    <hr class="mx-3 mt-4">

    <div class="d-flex justify-content-between align-items-center">
      <button 
      type="button" 
      class="btn btn-light mt-1 py-2"
      (click)="generals.click()"
        >Anterior</button>

      <button 
      type="button" 
      class="btn btn-primary mt-1 py-2"
      (click)="revision.click()"
      [disabled]="driverForm.invalid"
      >Siguiente</button>
    </div>
    
  </div>
</div>

<div class="tab-content">
  <div
    class="tab-pane fade"
    id="revision"
    role="tabpanel"
>

<h3 class="text-primary">Paso 3 (Verificacion)</h3>
<p class="h4 text-muted mb-4">
  Verifica la informacion registrada y presiona guardar.
</p>

<div class="row text-muted">
<div class="col-sm-2">
  <em>Nombre:</em>
</div>
<div class="col">
  {{driverForm.get('nombre')?.value | capitalize}}
</div>
</div>

<div class="row text-muted">
  <div class="col-sm-2">
    <em>Paterno:</em>
  </div>
  <div class="col">
    {{driverForm.get('paterno')?.value | capitalize }}
  </div>
  </div>

  <div class="row text-muted">
    <div class="col-sm-2">
      <em>Materno:</em>
    </div>
    <div class="col">
      {{driverForm.get('materno')?.value | capitalize}}
    </div>
    </div>

    <div class="row text-muted">
      <div class="col-sm-2">
        <em>Edad:</em>
      </div>
      <div class="col">
        {{driverForm.get('edad')?.value}} años
      </div>
      </div>

      <div class="row text-muted">
        <div class="col-sm-2">
          <em>Sexo:</em>
        </div>
        <div class="col">
          {{driverForm.get('sexo')?.value | capitalize }}
        </div>
        </div>

        <div class="row text-muted">
          <div class="col-sm-2">
            <em>Domicilio:</em>
          </div>
          <div class="col">
            {{driverForm.get('domicilio')?.value }}
          </div>
          </div>

          <div class="row text-muted">
            <div class="col-sm-2">
              <em>Telefono:</em>
            </div>
            <div class="col">
              {{driverForm.get('telefono')?.value }}
            </div>
            </div>

            <div class="row text-muted">
              <div class="col-sm-2">
                <em>Licencia:</em>
              </div>
              <div class="col">
                {{driverForm.get('licencia')?.value}}
              </div>
              </div>

              <div class="row text-muted">
                <div class="col-sm-2">
                  <em>Tipo Lic:</em>
                </div>
                <div class="col">
                  {{driverForm.get('tipo_licencia')?.value}}
                </div>
                </div>

                <div class="row text-muted">
                  <div class="col-sm-2">
                    <em>Ruta:</em>
                  </div>
                  <div class="col">
                    {{obtainrouteName(driverForm.get('ruta')?.value)}}
                  </div>
                  </div>
  

<hr class="mx-3 mt-4">

<div class="d-flex justify-content-between align-items-center">
  <button 
      type="button" 
      class="btn btn-light mt-1 py-2"
      (click)="licencia.click()"
        >Anterior</button>

  <button type="submit" class="btn btn-primary mt-1 py-2">Guardar</button>
</div>
</div>
</div>
    
              
    
    
              <!-- <div class="row mt-3">
                <div class="col-md-12">
                  <label for="ruta" class="form-label"
                  >Ruta</label>
                   <select 
                   formControlName="ruta"
                    [class.is-invalid]="rutaValidator"
                    class="form-select"
                    id="ruta"
                    placeholder="ruta"
                   >
                    <option 
                    *ngFor="let ruta of rutas"
                    value="{{ruta._id}}"
                    > {{ruta.nombre}} </option>
                   </select>
                  <small
                  class="text-danger"
                  *ngIf="rutaValidator && driverForm.get('ruta')?.errors?.['required']"
                  >Este campo es obligatorio</small>
                </div>
              </div>
             
              <div class="row mt-3">
                <div class="col-md-8">
                  <label class="form-label" for="domicilio">Domicilo</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-house-door"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"
                          />
                        </svg>
                      </div>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      id="domicilio"
                      [class.is-invalid]="domicilioValidator"
                      formControlName="domicilio"
                      placeholder="Agustin lara 69-B"
                    />
                  </div>
                  <small
                class="text-danger"
                *ngIf="domicilioValidator && driverForm.get('domicilio')?.errors?.['required']"
                >Este campo es obligatorio</small>
                </div>
    
                <div class="col-md-4">
                  <label class="form-label" for="telefono">Telefono</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="16"
                          height="16"
                          fill="currentColor"
                          class="bi bi-telephone"
                          viewBox="0 0 16 16"
                        >
                          <path
                            d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"
                          />
                        </svg>
                      </div>
                    </div>
                    <input
                      type="tel"
                      class="form-control"
                      id="telefono"
                      [appendPrefixToModel]="true"
                      prefix="+52 "
                      mask="00 0000 0000"
                      [dropSpecialCharacters]="false"
                      [class.is-invalid]="telefonoValidator"
                      formControlName="telefono"
                      placeholder="#"
                    />
                   
                  </div>
                  <small
                  class="text-danger"
                  *ngIf="telefonoValidator && driverForm.get('telefono')?.errors?.['required']"
                  >Este campo es obligatorio</small>
    
                  <small
                  class="text-danger"
                  *ngIf="telefonoValidator && driverForm.get('telefono')?.errors?.['minlength'] || driverForm.get('telefono')?.errors?.['maxlength']"
                  >Numero no valido, ingrese 10 digitos</small>
                </div>
              </div> -->
     
              
              
            </form>
          </div>
        </div>
      </div>
      <!-- CardBody -->
    </div>
    <!-- Card -->
  </div>
</div>
