<!-- Spinner -->
<div
  class="center-element mx-auto"
  *ngIf="showSpinner;else content"
>
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner -->

<ng-template #content>

  <ng-container *ngIf="!authorizationError && !serverError">
    <!-- Contenedor del titulo -->
    <div class="d-flex align-items-center mb-3 animated fadeIn faster">
      <h1 class="animated fadeIn faster mr-auto">Choferes</h1>
  
        <!-- Search by name -->
        <form (submit)="sendSearch()" class="mr-2 mb-1">
          <input
            [disabled]="getErro"
            autocomplete="off"
            type="text"
            name="search"
            prefix="RSO"
            mask="000"
            class="form-control  mb-1 pr-5 py-3"
            [(ngModel)]="searchValue"
            placeholder="Busqueda por codigo"
          />
        </form>
        <!-- Search by name -->
    
        <!-- Search by state -->
        <form class="mr-2">
          <select
            [disabled]="getErro"
            style="font-size: 15px;"
            name="filterstate"
            class="form-select pr-5 py-1"
            [(ngModel)]="filtersObject.status"
            (change)="onlyState($event)"
          >
            <option value="todos">Todos</option>
    
            <option value="activo">Activos</option>
    
            <option value="inactivo">Inactivos</option>
          </select>
          <div
            style="background: none; border: none"
            class="input-group-text"
          ></div>
        </form>
        <!-- Search by state -->
  

        <button 
          class="btn btn-primary mb-2"
          routerLink="/admin/choferes/crear"
          [disabled]="getErro"
        >
         Nuevo Chofer
        </button>

    </div>
    <!-- Contenedor del titulo -->
   
  
    <!-- Alerts -->
    <div
      class="alert alert-dismissible"
      role="alert"
      [class.alert-danger]="getErro"
      [class.alert-primary]="!getErro"
      *ngIf="checkQuerysObject.codigo"
    >
      <div class="alert-icon">
        <i class="far fa-fw fa-bell"></i>
      </div>
      <div class="alert-message">
        Resultados para <strong>{{ checkQuerysObject.codigo }}</strong>
      </div>
    </div>
  
    <div
      [class.alert-danger]="getErro"
      [class.alert-primary]="!getErro"
      class="alert alert-dismissible"
      role="alert"
      *ngIf="checkQuerysObject.status"
    >
      <div class="alert-icon">
        <i class="far fa-fw fa-bell"></i>
      </div>
      <div class="alert-message">
        Mostrando solo choferes <strong>"{{ checkQuerysObject.status }}s"</strong>
      </div>
    </div>
    <!-- Alerts -->
  
    <div class="row animated fadeIn faster mt-2 py-2">
      <div class="col-12">
  
        <!-- Card de datos-->
        <div class="card" *ngIf="drivers.length > 0">

          <div class="card-header pb-0 mb-0">
            <div class="card-actions float-end">
              <div class="dropdown position-relative" *ngIf="!getErro">
                <a
                  href="#"
                  data-bs-toggle="dropdown"
                  data-bs-display="static"
                >
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
                </a>

                <div class="dropdown-menu dropdown-menu-end">
                  <a class="dropdown-item" 
                  (click)="cleanFilters()"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise mr-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                  </svg>
                  Limpiar filtros
                </a>
                  <a class="dropdown-item"
                  (click)="exportExcel()"
                  >
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-spreadsheet mr-2" viewBox="0 0 16 16">
                    <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V9H3V2a1 1 0 0 1 1-1h5.5v2zM3 12v-2h2v2H3zm0 1h2v2H4a1 1 0 0 1-1-1v-1zm3 2v-2h3v2H6zm4 0v-2h3v1a1 1 0 0 1-1 1h-2zm3-3h-3v-2h3v2zm-7 0v-2h3v2H6z"/>
                  </svg>
                  Descargar excel
                </a>
                </div>
              </div>
            </div>
            
            <h5 class="card-title mb-0">Choferes</h5>
          </div>

          <div class="d-flex justify-content-between align-items-center mb-3 mt-3">
            <form class="px-4">
              <div class="input-group my-auto">
                <span class="mr-1 mt-1">Mostrando</span>
                <select
                name="elements"
                style="font-size: 13px;"
                class="form-select py-1"
                (change)="onOptionSelected($event)"
                [(ngModel)]="itemsPerPage"
              >
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
              </select> 
              <span class="ml-1 mt-1">elementos por pagina</span>  
              </div>              
        </form>  

        <div class="border">

        </div>
          </div>

          <div class="card-body">
  
            <table
              class="table table-striped animated fadeIn faster"
              *ngIf="drivers.length > 0"
            >
              <thead>
                <tr>
                  <th style="width: 10%">#</th>
                  <th style="width: 15%">Codigo</th>
                  <th style="width: 20%">Nombre</th>
                  <th style="width: 15%">Ap. Paterno</th>
                  <th class="d-none d-md-table-cell" style="width: 15%">
                    Ap. Materno
                  </th>
                  <th style="width: 10%">Estado</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let driver of drivers">
                  <td>
                    <img
                      src="../../../../assets//img/driver.png"
                      width="32"
                      height="32"
                      class="rounded-circle my-n1"
                      alt="Avatar"
                    />
                  </td>
                  <td>{{ driver.codigo }}</td>
                  <td>{{ driver.nombre | capitalize }}</td>
                  <td>{{ driver.paterno | capitalize }}</td>
                  <td class="d-none d-md-table-cell">
                    {{ driver.materno | capitalize }}
                  </td>
                  <td class="d-none d-md-table-cell text-center">
                    <span
                      class="badge bg-success my-2"
                      *ngIf="driver.status === 'activo'"
                    >
                      {{ driver.status | capitalize }}
                    </span>
                    <span
                      class="badge bg-warning my-2"
                      *ngIf="driver.status === 'inactivo'"
                    >
                      {{ driver.status | capitalize  }}
                    </span>
                  </td>
                  <td class="table-action">
                    <a
                      class="mr-4"
                      [routerLink]="['/admin/choferes/ver', driver._id]"
                    >
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-nut ml-1"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="m11.42 2 3.428 6-3.428 6H4.58L1.152 8 4.58 2h6.84zM4.58 1a1 1 0 0 0-.868.504l-3.428 6a1 1 0 0 0 0 .992l3.428 6A1 1 0 0 0 4.58 15h6.84a1 1 0 0 0 .868-.504l3.429-6a1 1 0 0 0 0-.992l-3.429-6A1 1 0 0 0 11.42 1H4.58z"
                        />
                        <path
                          d="M6.848 5.933a2.5 2.5 0 1 0 2.5 4.33 2.5 2.5 0 0 0-2.5-4.33zm-1.78 3.915a3.5 3.5 0 1 1 6.061-3.5 3.5 3.5 0 0 1-6.062 3.5z"
                        />
                      </svg>
                    </a>
                    <a [routerLink]="['/admin/choferes/eliminar', driver._id]">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-trash3"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"
                        />
                      </svg>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
  
            <div
              class="d-flex justify-content-between align-items-center mb-1"
              *ngIf="drivers.length > 0"
            >
              <div class="text-muted" style="font-size: medium">
                {{ response.totalPages }} paginas en total ({{
                  response.totalDocs
                }}
                registros).
              </div>
  
              <nav aria-label="Page navigation example">
                <ul class="pagination pagination-md">
                  <li class="page-item">
                    <a class="page-link py-2 px-3" (click)="previousPage()"
                      ><i class="fas fa-angle-left"></i
                    ></a>
                  </li>
  
                  <li
                    class="page-item"
                    *ngFor="let number of visiblePageNumbers"
                    [class.active]="currentPage === number"
                  >
                    <a class="page-link py-2 px-3" (click)="navigateToPage(number)">{{
                      number
                    }}</a>
                  </li>
  
                  <li class="page-item" *ngIf="response.hasNextPage">
                    <a class="page-link py-2 px-3" (click)="nextPage()"
                      ><i class="fas fa-angle-right"></i
                    ></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
          <!-- Card Body -->
        </div>
        <!-- Card de datos-->
  
        <!-- notFoundedName-->
        <div
          class="card"
          *ngIf="drivers.length === 0 && getErro && checkQuerysObject.codigo"
        >
          <div class="card-body">
            <div class="row m-4">
              <div class="col-md-3 d-flex justify-content-center">
                <img
                  src="../../../../assets/img/5613.jpg"
                  style="width: 60%"
                  class="ml-3"
                />
              </div>
  
              <div class="col-md-9">
                <h2 class="mb-3">
                  Sin resultados para "{{ checkQuerysObject.codigo }}"
                </h2>
                <ul>
                  <li class="h4">
                    Asegurate de haber escrito el codigo correctamente.
                  </li>
                  <li class="h4">
                    Vuelve a escribir tu busqueda o regresa al
                    <a (click)="cleanFilters()" class="link-primary text-primary"
                      >listado de choferes.</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- notFoundedName-->
  
        <!-- notFoundedState-->
        <div
          class="card"
          *ngIf="drivers.length === 0 && getErro && checkQuerysObject.status"
        >
          <div class="card-body">
            <div class="row m-4">
              <div class="col-md-3 d-flex justify-content-center">
                <img
                  src="../../../../assets/img/5613.jpg"
                  style="width: 60%"
                  class="ml-3"
                />
              </div>
  
              <div class="col-md-9">
                <h2 class="mb-3">
                  Sin resultados para choferes con estado "{{
                    checkQuerysObject.status
                  }}"
                </h2>
                <h3>Si crees que existe algun error comprueba lo suguiente:</h3>
                <ul>
                  <li class="h4">
                    Asegurate de que el estado a buscar sea el correcto.
                  </li>
                  <li class="h4">
                    Vuelve a seleccionar un estado o regresa al
                    <a (click)="cleanFilters()" class="link-primary text-primary"
                      >listado de choferes.</a
                    >
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- notFoundedState-->
  
      </div>
    </div>
  </ng-container>
  <!-- Contenedor del titulo -->

  <ng-container *ngIf="authorizationError || serverError">
    <div class="row">
      <div class="col-12">

         <!-- Authorization -->
         <div *ngIf="authorizationError" class="alert alert-warning alert-dismissible" role="alert">
          <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
              <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
          </div>
          <div class="alert-message">
            <strong>Acceso no autorizado.</strong> No tienes autorizacion de acceder a esta pagina.
          </div>
        </div>
        <!-- Authorization -->

          <!-- ServerError -->
          <div *ngIf="serverError" class="alert alert-danger alert-dismissible" role="alert">
            <div class="alert-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
              </svg>
            </div>
            <div class="alert-message">
              <strong>Error de servidor (500).</strong> No se pudo obtener una respuesta del servidor
            </div>
          </div>
         <!-- ServerError -->

      </div>
    </div>
   

    
  </ng-container>
 
</ng-template>
