<div class="center-element mx-auto" *ngIf="isLoading; else content">
  <div class="spinner-border text-primary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<!-- Contenedor del perfil -->
<ng-template #content>

  <!-- Contenido -->
  <ng-container *ngIf="!notFoundedError && !serverError && !authorizationError">
    
     <!-- Contenedor del titulo -->
    <div class="row mb-2 mb-xl-3">
  <div class="col-auto d-none d-sm-block">
    <h3>Editar chofer</h3>
  </div>

  <div class="col-auto ml-auto text-right mt-n1">
  <app-breadcrum [items]="breadcrumbItems" [current]="currentPage"></app-breadcrum>
  </div>
      </div>
<!-- Contenedor del titulo -->

   <!-- row -->
  <div class="row">

    <!-- Perfil o navegacion -->
    <div class="col-md-3 col-xl-2">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">Informacion del chofer</h5>
        </div>

        <div class="list-group list-group-flush" role="tablist">
          <a
            class="list-group-item list-group-item-action active"
            data-bs-toggle="list"
            href="#generales"
            role="tab"
            routerLinkActive="active"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
            <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5zm.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1h-2z"/>
          </svg>
           Generales
          </a>

          <a
            class="list-group-item list-group-item-action"
            data-bs-toggle="list"
            routerLinkActive="active"
            href="#licencia"
            role="tab"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-vcard-fill mr-1" viewBox="0 0 16 16">
            <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm9 1.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4a.5.5 0 0 0-.5.5ZM9 8a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 0-1h-4A.5.5 0 0 0 9 8Zm1 2.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 0-1h-3a.5.5 0 0 0-.5.5Zm-1 2C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1 1 0 0 0 2 13h6.96c.026-.163.04-.33.04-.5ZM7 6a2 2 0 1 0-4 0 2 2 0 0 0 4 0Z"/>
          </svg>
            Licencia
          </a>

          <a
            class="list-group-item list-group-item-action"
            data-bs-toggle="list"
            routerLinkActive="active"
            href="#contacto"
            role="tab"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill mr-1" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
          </svg>
            Contacto
          </a>

          <a
            class="list-group-item list-group-item-action"
            data-bs-toggle="list"
            href="#ruta"
            routerLinkActive="active"
            role="tab"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bus-front-fill mr-1" viewBox="0 0 16 16">
            <path d="M16 7a1 1 0 0 1-1 1v3.5c0 .818-.393 1.544-1 2v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5V14H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2a2.496 2.496 0 0 1-1-2V8a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1V2.64C1 1.452 1.845.408 3.064.268A43.608 43.608 0 0 1 8 0c2.1 0 3.792.136 4.936.268C14.155.408 15 1.452 15 2.64V4a1 1 0 0 1 1 1v2ZM3.552 3.22A43.306 43.306 0 0 1 8 3c1.837 0 3.353.107 4.448.22a.5.5 0 0 0 .104-.994A44.304 44.304 0 0 0 8 2c-1.876 0-3.426.109-4.552.226a.5.5 0 1 0 .104.994ZM8 4c-1.876 0-3.426.109-4.552.226A.5.5 0 0 0 3 4.723v3.554a.5.5 0 0 0 .448.497C4.574 8.891 6.124 9 8 9c1.876 0 3.426-.109 4.552-.226A.5.5 0 0 0 13 8.277V4.723a.5.5 0 0 0-.448-.497A44.304 44.304 0 0 0 8 4Zm-3 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm8 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-7 0a1 1 0 0 0 1 1h2a1 1 0 1 0 0-2H7a1 1 0 0 0-1 1Z"/>
          </svg>
            Ruta
          </a>

        </div>
      </div>
    </div>
    <!-- Perfil o navegacion -->

    <!-- Col--md-8 -->
    <div class="col-md-9 col-xl-10">

      <div class="tab-content">
        <div
          class="tab-pane fade show active"
          id="generales"
          role="tabpanel"
      >
      
      <!-- Generales -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Datos basicos</h5>
          <h6 class="card-subtitle text-muted">
            Agrega o modifica los datos generales.
          </h6>
        </div>
        <div class="card-body">
          <form #generalForm="ngForm" (submit)="submitGeneral(generalForm)">
            <div class="form-group">
              <label class="form-label" for="nombre">Nombre</label>
              <input
               [disabled]="disabledForms.generalForm"
               [class.input-disabled]="disabledForms.generalForm"
                type="text"
                id="nombre"
                name="nombre"
                [class.is-invalid]="inputNombre.invalid && inputNombre.touched"
                class="form-control form-control-lg"
                #inputNombre="ngModel"
                placeholder="Nombre"
                [ngModel]="driver.nombre"
                required
              />
              <small
                class="form-text text-danger"
                *ngIf="inputNombre.invalid && inputNombre.touched"
                >Este campo es obligatorio</small
              >
            </div>
            <div class="form-group">
              <label class="form-label" for="paterno">Apellido paterno</label>
              <input
              [disabled]="disabledForms.generalForm"
              [class.input-disabled]="disabledForms.generalForm"
                type="text"
                class="form-control form-control-lg "
                placeholder="Paterno"
                id="paterno"
                name="paterno"
                required
                [ngModel]="driver.paterno"
                #inputPaterno="ngModel"
                [class.is-invalid]="inputPaterno.invalid && inputPaterno.touched"
              />
              <small
              class="form-text text-danger"
              *ngIf="inputPaterno.invalid && inputPaterno.touched"
              >Este campo es obligatorio</small
            >
            </div>
            <div class="form-group">
              <label class="form-label" for="materno">Materno</label>
              <input
              [disabled]="disabledForms.generalForm"
              [class.input-disabled]="disabledForms.generalForm"
                type="text"
                class="form-control form-control-lg "
                placeholder="Materno"
                id="Materno"
                name="materno"
                required
                [ngModel]="driver.materno"
                #inputMaterno="ngModel"
                [class.is-invalid]="inputMaterno.invalid && inputMaterno.touched"
              />
              <small
              class="form-text text-danger"
              *ngIf="inputMaterno.invalid && inputMaterno.touched"
              >Este campo es obligatorio</small
            >
            </div>
            <div class="form-group">
              <label for="edad" class="form-label">Edad</label>
              <input
              [disabled]="disabledForms.generalForm"
              [class.input-disabled]="disabledForms.generalForm"
                mask="00"
                type="text"
                id="edad"
                [class.is-invalid]="inputEdad.invalid && inputEdad.touched"
                placeholder="edad"
                class="form-control form-control-lg "
                name="edad"
                required
                [ngModel]="driver.edad"
                #inputEdad="ngModel"
              />
              <small
              class="form-text text-danger"
              *ngIf="inputEdad.invalid && inputEdad.touched"
              >Este campo es obligatorio</small
            >
            </div>
            <div class="form-group">
              <label for="sexo" class="form-label">Sexo</label>
              <select
              [disabled]="disabledForms.generalForm"
              [class.input-disabled]="disabledForms.generalForm"
                id="sexo"
                class="form-control form-control-lg "
                name="sexo"
                required
                [ngModel]="driver.sexo"
                #inputSexo="ngModel"
                [class.is-invalid]="inputSexo.invalid && inputSexo.touched"
              >
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
              <small
              class="form-text text-danger"
              *ngIf="inputSexo.invalid && inputSexo.touched"
              >Este campo es obligatorio</small
              >
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <button 
              (click)="disabledForms.generalForm = false"
              type="button"
              class="btn btn-primary"
              *ngIf="disabledForms.generalForm"
              >Modificar datos</button>

              <button 
            class="btn btn-primary"
            type="submit"
            *ngIf="!disabledForms.generalForm"
            >Guardar cambios</button>
              
            </div>
            
            
          </form>

         
          
        </div>
        <!-- Card Body -->
      </div>
      <!-- Generales -->

        </div>
      </div>

      <div class="tab-content">
        <div
          class="tab-pane fade"
          id="licencia"
          role="tabpanel"
      >
      
      <!-- Licencia -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Licencia</h5>
          <h6 class="card-subtitle text-muted">
            Agrega o modifica los datos de la licencia.
          </h6>
        </div>
        <div class="card-body">
          <form
          #licenciaForm="ngForm"
          (submit)="submitLicencia(licenciaForm)"
          >
            <div class="form-group">
              <label for="licencia" class="form-label">Licencia</label>
              <input
                type="text"
                class="form-control form-control-lg "
               [disabled]="disabledForms.licenciaForm"
               [class.input-disabled]="disabledForms.licenciaForm"
              [class.is-invalid]="inputLicencia.invalid && inputLicencia.touched"
                id="licencia"
                placeholder="licencia"
                name="licencia"
                required
                #inputLicencia="ngModel"
                [ngModel]="driver.licencia"
              />
              <small
              class="form-text text-danger"
              *ngIf="inputLicencia.invalid && inputLicencia.touched"
              >Este campo es obligatorio</small
              >
            </div>
            <div class="form-group">
              <label for="tipo_licencia" class="form-label"
                >Tipo de licencia</label
              >
              <input
                type="text"
                class="form-control form-control-lg"
                [disabled]="disabledForms.licenciaForm"
               [class.input-disabled]="disabledForms.licenciaForm"
                [class.is-invalid]="inputTipo_licencia.invalid && inputTipo_licencia.touched"
                id="tipo_licencia"
                placeholder="Tipo de licencia"
                required
                name="tipo_licencia"
                #inputTipo_licencia="ngModel"
                [ngModel]="driver.tipo_licencia"
              />
              <small
              class="form-text text-danger"
              *ngIf="inputTipo_licencia.invalid && inputTipo_licencia.touched"
              >Este campo es obligatorio</small
              >
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <button 
              (click)="disabledForms.licenciaForm = false"
              type="button"
              class="btn btn-primary"
              *ngIf="disabledForms.licenciaForm"
              >Modificar datos</button>
    
              <button 
            class="btn btn-primary"
            type="submit"
            *ngIf="!disabledForms.licenciaForm"
            >Guardar cambios</button>
              
            </div>
          </form>
        </div>
        <!-- Card Body -->
      </div>
      <!-- Licencia -->

    </div>
      </div>

       <div class="tab-content">
    <div
      class="tab-pane fade"
      id="contacto"
      role="tabpanel"
  >
      <!-- Contacto -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Contacto</h5>
          <h6 class="card-subtitle text-muted">
            Agrega o modifica los de contacto.
          </h6>
        </div>
        <div class="card-body">
          <form
          #contactoForm="ngForm"
          (submit)="submitContacto(contactoForm)"
          >
            <div class="form-group">
              <label class="form-label" for="telefono">Telefono</label>
                <input
                [disabled]="disabledForms.contactoForm"
                [class.input-disabled]="disabledForms.contactoForm"
                  type="tel"
                  class="form-control form-control-lg"
                  id="telefono"
                  [class.is-invalid]="inputTelefono.invalid && inputTelefono.touched"
                  prefix="+52 "
                  mask="00 0000 0000"
                  [appendPrefixToModel]="true"
                  [dropSpecialCharacters]="false"
                  name="telefono"
                  placeholder="#"
                  required
                  minlength="16"
                  maxlength="16"
                  [ngModel]="driver.telefono"
                  #inputTelefono="ngModel"
                />

              <small
              class="form-text text-danger"
              *ngIf="inputTelefono.invalid && inputTelefono.touched && inputTelefono.errors?.['required']"
              >Este campo es obligatorio</small
              >
              <small
              class="form-text text-danger"
              *ngIf="inputTelefono.invalid && inputTelefono.touched && inputTelefono.errors?.['minlength']"
              >Numero no valido</small
              >
            </div>

            <div class="form-group">
              <label class="form-label" for="domicilio">Domicilo</label>
                <input
                  type="text"
                  class="form-control form-control-lg"
                [disabled]="disabledForms.contactoForm"
              [class.input-disabled]="disabledForms.contactoForm"
                  [class.is-invalid]="inputDomicilio.invalid && inputDomicilio.touched"
                  id="domicilio"
                  placeholder="Agustin lara 69-B"
                  name="domicilio"
                  required
                  [ngModel]="driver.domicilio"
                  #inputDomicilio="ngModel"
                />
              <small
              class="form-text text-danger"
              *ngIf="inputDomicilio.invalid && inputDomicilio.touched"
              >Este campo es obligatorio</small
              >
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <button 
              (click)="disabledForms.contactoForm = false"
              type="button"
              class="btn btn-primary"
              *ngIf="disabledForms.contactoForm"
              >Modificar datos</button>

              <button 
            class="btn btn-primary"
            type="submit"
            *ngIf="!disabledForms.contactoForm"
            >Guardar cambios</button>
            </div>
          </form>
        </div>
        <!-- Card Body -->
      </div>
      <!-- Contacto -->

        </div>
        </div>

        <div class="tab-content">
          <div
            class="tab-pane fade"
            id="ruta"
            role="tabpanel"
        >
        
        <!-- Registro -->
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Registro</h5>
            <h6 class="card-subtitle text-muted">
              Agrega o modifica los datos de registro.
            </h6>
          </div>
          <div class="card-body">
            <form 
            #registroForm="ngForm"
            (submit)="submitRegistro(registroForm)"
            >
    
              <div class="form-group" *ngIf="driver.ruta_ && !driver.ruta">
                <label for="ruta" class="form-label">Ruta</label>
                <select 
                class="form-control form-control-lg"
                [disabled]="disabledForms.registroForm"
                [class.input-disabled]="disabledForms.registroForm"
                [class.is-invalid]="inputRuta.invalid && inputRuta.touched"
                id="ruta"
                required
                placeholder="ruta"
                name="ruta"
                [ngModel]="driver.ruta_"
                #inputRuta="ngModel"
                 >
                  <option 
                  *ngFor="let ruta of rutas"
                  value="{{ruta._id}}"
                  > {{ruta.nombre}} </option>
                 </select>
                <small
                class="form-text text-danger"
                *ngIf="inputRuta.invalid && inputRuta.touched"
                >Este campo es obligatorio</small
                >
              </div>
    
              <div class="form-group" *ngIf="driver.ruta">
                <label for="ruta" class="form-label">Ruta</label>
                <select 
                class="form-control form-control-lg"
                [disabled]="disabledForms.registroForm"
                [class.input-disabled]="disabledForms.registroForm"
                [class.is-invalid]="inputRuta.invalid && inputRuta.touched"
                id="ruta"
                required
                placeholder="ruta"
                name="ruta"
                [ngModel]="driver.ruta._id"
                #inputRuta="ngModel"
                 >
                  <option 
                  *ngFor="let ruta of rutas"
                  value="{{ruta._id}}"
                  > {{ruta.nombre}} </option>
                 </select>
                <small
                class="form-text text-danger"
                *ngIf="inputRuta.invalid && inputRuta.touched"
                >Este campo es obligatorio</small
                >
              </div>
    
    
              <div class="d-flex justify-content-between align-items-center">
                <button 
                (click)="disabledForms.registroForm= false"
                type="button"
                class="btn btn-primary"
                *ngIf="disabledForms.registroForm"
                >Modificar datos</button>
    
                <button 
              class="btn btn-primary"
              type="submit"
              *ngIf="!disabledForms.registroForm"
              >Guardar cambios</button>
                
              </div>
            </form>
          </div>
          <!-- Card Body -->
        </div>
        <!-- Registro -->

      </div>
    </div>

    </div>
    <!-- Col--md-8 -->
  </div>
   <!-- row-->

  </ng-container>
  <!-- Contenido -->




  <!-- Errores -->
  <ng-container *ngIf="notFoundedError || serverError || authorizationError">
    <div class="row">
      <div class="col-12">

         <!-- Authorization -->
         <div *ngIf="authorizationError" class="alert alert-warning alert-dismissible" role="alert">
          <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
              <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
          </div>
          <div class="alert-message">
            <strong>Acceso no autorizado.</strong> No tienes autorizacion de acceder a esta pagina.
          </div>
        </div>
        <!-- Authorization -->

            <!-- Server -->
            <div *ngIf="serverError" class="alert alert-danger alert-dismissible" role="alert">
              <div class="alert-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                </svg>
              </div>
              <div class="alert-message">
                <strong>Error de servidor (500).</strong> No se pudo obtener una respuesta del servidor
              </div>
            </div>
            <!-- Server -->

              <!-- NotFOunded -->
              <div *ngIf="notFoundedError" class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                  </svg>
                </div>
                <div class="alert-message">
                  <strong>Error al obtener registro.</strong> Es posible que no exista.
                </div>
              </div>
              <!-- NotFOunded -->

      </div>
    </div>
  </ng-container>
  <!-- Errores -->
 
</ng-template>
<!-- Contenedor del perfil -->
