
  <div class="center-element mx-auto" *ngIf="isLoading; else content">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <ng-template #content>

    <ng-container *ngIf="!notFoundedError && !serverError && !authorizationError">
            <!-- Contenedor del titulo -->
            <div class="row mb-2 mb-xl-3 animated fadeIn faster">
              <div class="col-auto d-none d-sm-block">
                <h3>Dar de baja a chofer</h3>
              </div>
            
              <div class="col-auto ml-auto text-right mt-n1">
              <app-breadcrum [items]="breadcrumbItems" [current]="currentPage"></app-breadcrum>
              </div>
                  </div>
      <!-- Contenedor del titulo -->

      <div class="row animated fadeIn faster">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Cambiar status</h5>
                    <h6 class="card-subtitle text-muted">
                      Cambia el status del chofer solo cuando sea necesario.
                    </h6>
                  </div>
                  <div class="card-body">
                    <form 
                    #razonForm="ngForm"
                    (submit)="sendForm(razonForm)"
                    >
                    <input type="hidden" name="status" value="inactivo" [ngModel]="status">
                        <div class="row">
                            <div class="col-12">
                        <label for="motivo_baja" class="form-label"
                        >Ingrese el motivo de la baja</label>
                        <textarea 
                        required
                        [class.is-invalid]="textarea.invalid && textarea.touched"
                        style="min-height: 100px; max-height: 150px;"
                        name="motivo_baja" 
                        id="motivo_baja" 
                        class="form-control"
                        #textarea="ngModel"
                        [ngModel]="razon"
                        ></textarea>
                        <small
                        class="text-danger"
                        *ngIf="textarea.invalid && textarea.touched"
                        >Introduzca la razon de la baja</small>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12 d-flex justify-content-center">
                                <button
                            class="btn btn-danger"
                            >Dar de baja a {{driver.nombre}} {{driver.paterno}} {{driver.materno}} </button>
                            </div>
                        </div>
                    </form>
                  </div>
            </div>
        </div>
       </div>
    </ng-container>

    <ng-container *ngIf="notFoundedError || serverError || authorizationError">

        <!-- Authorization -->
        <div *ngIf="authorizationError" class="alert alert-warning alert-dismissible" role="alert">
          <div class="alert-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="16" fill="currentColor" class="bi bi-person-slash" viewBox="0 0 16 16">
              <path d="M13.879 10.414a2.501 2.501 0 0 0-3.465 3.465l3.465-3.465Zm.707.707-3.465 3.465a2.501 2.501 0 0 0 3.465-3.465Zm-4.56-1.096a3.5 3.5 0 1 1 4.949 4.95 3.5 3.5 0 0 1-4.95-4.95ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
          </div>
          <div class="alert-message">
            <strong>Acceso no autorizado.</strong> No tienes autorizacion de acceder a esta pagina.
          </div>
        </div>
        <!-- Authorization -->

            <!-- Server -->
            <div *ngIf="serverError" class="alert alert-danger alert-dismissible" role="alert">
              <div class="alert-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                  <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                  <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                </svg>
              </div>
              <div class="alert-message">
                <strong>Error de servidor (500).</strong> No se pudo obtener una respuesta del servidor
              </div>
            </div>
            <!-- Server -->

              <!-- NotFOunded -->
              <div *ngIf="notFoundedError" class="alert alert-danger alert-dismissible" role="alert">
                <div class="alert-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                    <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                    <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
                  </svg>
                </div>
                <div class="alert-message">
                  <strong>Error al obtener registro.</strong> Es posible que no exista.
                </div>
              </div>
              <!-- NotFOunded -->

    </ng-container>

   
  </ng-template>
